/* =====================================
   FOOTER
===================================== */

#footer{

    height:40px;

    background:
    linear-gradient(
        180deg,
        #081522,
        #0d2238
    );

    border-top:
    1px solid
    #1d6fb8;

    display:flex;

    justify-content:space-around;

    align-items:center;

    color:#cfe8ff;

    font-size:13px;

    box-shadow:
    0 -4px 15px
    rgba(0,191,255,.15);

    z-index:9999;

}


/* =====================================
   FOOTER ITEMS
===================================== */

.footer-item{

    display:flex;

    align-items:center;

    gap:5px;

    font-weight:600;

    letter-spacing:.6px;

    color:#9fcdf3;

    transition:.25s;

    padding:0 12px;

    user-select:none;

}

.footer-item:hover{

    color:#ffffff;

    text-shadow:
    0 0 8px
    rgba(0,191,255,.6);

}


/* =====================================
   FOOTER VALUES
===================================== */

#scaleText,
#zoomText,
#latText,
#lonText,
#elevationInfo,
#projectionText{

    color:#ffffff;

    font-weight:700;

    letter-spacing:.5px;

    text-shadow:
    0 0 6px
    rgba(0,191,255,.35);

}